<div class="row">
  <div class="col-lg-12">
      <h2> <%= user_edit_helper 'name', can_edit?(@user), false %></h2>
      <p>Member Since: <%= @user.created_at.strftime('%Y/%m/%d') %></p>
  </div>

  <%= render layout: "shared/box", locals: {title: 'Projects', width: '12', unique_id: 'my_projects', should_hide: @user.projects.count == 0} do %>
    <% @user.projects.last(4).each do |project|%>
      <% @box_project = project %>
      <%= render "shared/project_box" %>
    <% end %>
  <% end %>
  
  <%= render layout: "shared/box", locals: {title: 'Visualizations', width: '12', unique_id: 'my_visualizations', should_hide: @user.visualizations.count == 0} do %>
    <% @user.visualizations.last(4).each do |visualization|%>
      <% @box_vis = visualization %>
      <%= render "shared/vis_box" %>
    <% end %>
  <% end %>
</div>


