<!--
  image_id = the image to use on the left side
  path = what to link to
  title = title of the article
  brief = a subtitle more or less
  date = the date it was written on
  content = a preview of what is in the article
  width = size of bootstrap column
-->

<div class="col-md-<%= width %> shadow-z-2" style="border:1px solid gray; background-image: url(<%= image_path('projects_placeholder.jpg') %>); background-size: 100%; background-repeat:no-repeat">
  <div class="item-desc">
    <div class="col-md-6">
      <h1 ><%= link_to title, path, style: "color: #707070" %></h1>
      <h3><%= date %></h3>
      <div class="article_page_content truncate">
        <% if content != nil %>
          <%= content.html_safe %>
        <% end %>
      </div>
    </div>
    <% if image_id != nil %>
      <% left_image = MediaObject.find(image_id).src %>
      <a class="item-image-link hidden-xs pull-right clear" href="<%= path %>" style="background-image: url(<%= left_image %>)"></a>

    <% end %>
  </div>
</div>
