<%= render partial: 'vis', locals: { project: @visualization.project,
    owner: @visualization.owner,
    title: @visualization.title.html_safe,
    titleBar: true,
    controls: true,
    getLatest: false } %>
    
<!-- This is the imported data. -->    
<div id="should_log" 
  data-should_log="<%=@visualization.should_log%>"
  data-visualization_id="<%=@visualization.id%>">
</div>

<% if defined? @log_data %>
  <div id="imported_log_data" data-log_data="<%= @log_data.data %>"></div>
<% end %>

<div class="row" style="display:block; float:left">
  <div class="col-md-6">
    <div class="well" style="margin-top:10px" id="dataset_info">
      <div class="full_width_edit" style="font-size:1.5em;">
        <%= visualization_edit_helper 'title',
            @visualization.owner.id == @cur_user.try(:id), make_link = false %>
      </div>
      <%= content_helper(@visualization) %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render layout: "shared/box",
        locals: {title: 'Media', width: '12',
        unique_id: 'media', should_hide: false} do %>
      <%= render "shared/media_objects_view",
          {type: 'visualization', object: @visualization} %>
    <% end %>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Logging Controls</h2>
      </div>
      <div class="panel-body">
        <% if @visualization.owner.id == @cur_user.try(:id) %>
          <label>Should logging be enabled for this visualization?</label>
          <%= form_for @visualization, url: {action: :update} do |f|%>
            <input type="hidden" id="hidden" name="visualization[should_log]" value="<%= !@visualization.should_log? %>" />
            <%= f.button class: "btn btn-primary form-control", id: "publish_visualization", type: "submit" do%>
              <i class="fa <%= @visualization.should_log? ? 'fa-check-square-o' : 'fa-square-o' %>"></i> Logging Active
            <% end %>
          <% end %>
        <% end %>
        <br/>
        <table class="table table-striped">
          <thead><tr><th>User</th><th>Completed</th></tr></thead>
          <% @logs.each do |log| %>
           <tr><td><%= link_to User.select(:name).find(log.user_id).name, "/visualizations/#{@visualization.id}?get_log=#{log.id}"%></td><td><%= log.created_at %></td></tr>
          <% end %>
        </table>
        <br/>
        <% if defined? @log_data %>
          <div id="playback" class="btn btn-default">Playback</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
